
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 2px solid #aaa;
  position: fixed;
  top: 0;
  width: 80%;
  flex-basis: 100%;
  background: #fff;
  backface-visibility: hidden;
  }
  
  .header-logo {
  background: url(/img/logo-instalura.svg) no-repeat left;
  height: 1em;
  padding-left: 1.5em;
  padding-bottom: .2em;
  filter: hue-rotate(80deg);
  transition: .4s;
  }
  
  .header-logo:hover{
  filter: hue-rotate(0);
  }
  
  .header-busca-campo {
  padding: .5em;
  margin-left: 1em;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  color: #262626;
  }
  
  .header-busca-campo:focus {
  background: #fff;
  outline: 1px solid #ccc;
  color: #222;
  }
  
  .header-busca-submit {
  border: 0;
  background: url(/img/busca-icone.png) center center no-repeat #069;
  text-indent: -9999px;
  overflow: hidden;
  background-size: 20px;
  color: #fff;
  min-width: 32px;
  height: 2.4em;
  transition: .4s;
  }
  
  .header-busca-submit:hover {
  background-color: #5ad4c9;
  }
  
  .header-nav {
  list-style: none
  }
  
  .header-nav-item a {
  text-decoration: none;
  color: #069;
  font-size: 3em;
  }    
  
  .header-nav-item a:hover{
  color: #5ad4c9;
  }